<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>my website</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br> Aperiam exercitationem veniam aspernatur nostrum molestias placeat beatae ducimus quidem tenetur, tempore voluptatem omnis! Facilis perferendis mollitia pariatur cum dolorem architecto <br> iure officiis omnis amet odio laudantium totam reprehenderit eligendi iusto eum accusamus facere alias suscipit fugit, natus dolorum similique tenetur!</p>
</body>
</html>